# -----------------------------
# Python (Backend)
# -----------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Models / Data (avoid large files)
models/
dataset/
*.pkl
*.npy
*.csv

# Jupyter
.ipynb_checkpoints/

# -----------------------------
# Node / React (Frontend)
# -----------------------------
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Misc
# -----------------------------
*.log
*.tmp
*.bak